.input:focus{
    outline: none;
    border: #666666 solid 2px;
}

.superInput {
    margin: 10px;

    background: aqua;
    color: black;

}

.errorInput {
    margin: 10px;
    color: #888888;
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
    margin: 21px;
    margin-left: 10px;
}